// ----- Colors

// orange defined in V5
// please have a look on this discussion :
// https://forum.camptocamp.org/t/projet-ui-quel-est-le-orange-c2c/238878
$color-base-c2c: #f93;

$color-base-c2c-darker: #b26f1e;
$color-base-c2c-lighter: rgb(255, 206, 158);
$color-complementary-c2c: #337ab7; // must fit with c2c orange, and will be main color
$color-complementary-c2c-lighter: #7699b8;
$color-link: #337ab7; // We use the same blue as complementary-c2c
$color-text: #4a4a4a;

$body-background-color: #fbfaf6; // if you modify this, please also modify it for spashscreen

// ---- Custom widths
$navbarad-height: 90px;
$navbar-height: 3.25rem;
$sidemenu-width: 200px;
