/* Primary and Surface Palettes */
:root {
  --p-primary-50: #fff8ed;
  --p-primary-100: #ffefd4;
  --p-primary-200: #ffdba8;
  --p-primary-300: #ffc171;
  --p-primary-400: #ff9933;
  --p-primary-500: #fe7e11;
  --p-primary-600: #ef6307;
  --p-primary-700: #c64808;
  --p-primary-800: #9d3a0f;
  --p-primary-900: #7e3110;
  --p-primary-950: #441606;
  --p-secondary-50: #f3f7fc;
  --p-secondary-100: #e5eef9;
  --p-secondary-200: #c6dbf1;
  --p-secondary-300: #94bfe5;
  --p-secondary-400: #5b9ed5;
  --p-secondary-500: #337ab7;
  --p-secondary-600: #2666a3;
  --p-secondary-700: #205284;
  --p-secondary-800: #1e466e;
  --p-secondary-900: #1e3c5c;
  --p-secondary-950: #14273d;
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f4f4f5;
  --p-surface-200: #e4e4e7;
  --p-surface-300: #d4d4d8;
  --p-surface-400: #a1a1aa;
  --p-surface-500: #71717a;
  --p-surface-600: #52525b;
  --p-surface-700: #3f3f46;
  --p-surface-800: #27272a;
  --p-surface-900: #18181b;
  --p-surface-950: #09090b;

  --p-content-border-radius: 6px;
}

:root {
  --p-primary-color: var(--p-primary-400);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-500);
  --p-primary-active-color: var(--p-primary-600);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-600);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-700);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}
