@import "./base.css";
@import "./scrollbar.scss";
@import "./print.css";

:root {
  /** To be synced with tailwind.config.js */
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1216px;
  --breakpoint-widescreen: 1408px;

  --navbar-height: 90px;
  --navbar-height-no-ad: 3.25rem;
  --sidemenu-width: 200px;

  --body-background-color: #fbfaf6;
}
